[submodule "core"]
	path = core
	url = https://github.com/kvasir-io/core_cortex_m0plus.git
[submodule "src/chip/rp_common"]
	path = src/chip/rp_common
	url = https://github.com/kvasir-io/chip_rp_common.git
